<h2 class="text-center">My Todo List App</h2>
<br>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="" required [(ngModel)]="user.email">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" required matInput placeholder="" [(ngModel)]="user.password">
  </mat-form-field>
</p>
<button mat-raised-button color="primary" (click)="login()">Log In</button>
<p>
  <a mat-button routerLink="/register">Create Account</a>
</p>
